@use "../../styles/media.scss" as *;

@keyframes slideInLeftAndSpin {
  0% {
    transform: translateX(-300%) rotate(0deg); /* Початкове положення: зліва і без обертання */
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(360deg); /* Кінець: на своїй позиції і обертається */
    opacity: 1;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #e9dec8;
  padding-block: 10px;
  padding-inline: 10px;

  &__logo {
    width: 175px;
    aspect-ratio: 1;
    animation: slideInLeftAndSpin 3s ease-out forwards;
  }

  &__logo:hover {
    opacity: 0.75;
    cursor: pointer;
  }

  &__title {
    font-size: 5em;
    font-weight: 500;
  }

  @include mobile {
    &__logo {
      width: 75px;
      aspect-ratio: 1;
    }

    &__title {
      font-size: 3.5em;
    }
  }
}
