@use "../../../styles/media.scss" as *;

.testList_wrapper {
  padding: 10px;
  border-top: 2px solid rgb(105, 44, 44);
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.testList_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.testList {
  display: flex;
  flex-direction: column;
  align-items: center;

  /*border-right: 2px solid rgb(105, 44, 44);*/

  &__item {
    border-bottom: 1px solid black;
  }

  &__item:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}

@include mobile {
  .testList_wrapper {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    padding: 20px;
    z-index: 101;
  }

  .testList_title {
    margin-bottom: 0;
  }

  .testList_wrapper.open {
    left: 0;
  }
}
