@use "../../styles/media.scss" as *;
.myContainer {
  width: 80%;
  margin: 0 auto;
}

.main_wrapper {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-top: 15px;
  padding-inline: 10px;
}

.main_wrapper > :nth-child(2) {
  flex: 1;
}

.main_wrapper > :nth-child(3) {
  flex: 3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.menuButton {
  display: none;
  margin: 0 auto;
  padding: 10px 15px;
  background: #c5bfb7;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 100;
}

@include mobile {
  .main_wrapper {
    display: flex;
    flex-direction: column;
  }

  .menuButton {
    display: block;
  }
}
